.leaflet-container {
  margin: 0% auto;
  padding-bottom: 25%;
  height: 65%;
  width: 90%;
  padding-bottom: 112%;
}

@media only screen and (min-width: 600px) {
  .leaflet-container {
    margin: 0% auto;
    padding-bottom: 30%;
    height: 65%;
  }
}
