.App {
  text-align: center;
  background-color: #282c34;
  color: whitesmoke;
  margin: 0%;
  height: 100%;
}
.Contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7% 2%;
  height: 13%;
  text-align: left;
  color: white;
  /* unvisited link */
  a:link {
    margin-left: 1em;
    color: white;
  }

  /* visited link */
  a:visited {
    margin-left: 1em;
    color: green;
  }

  /* mouse over link */
  a:hover {
    margin-left: 1em;
    color: hotpink;
  }

  /* selected link */
  a:active {
    margin-left: 1em;
    color: blue;
  }
}
